In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: six>=1.5.2 in c:\users\dell\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
driver=webdriver.Chrome(r'C:\Users\DELL\chromedriver.exe')

In [4]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
#You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
#Getting the web page
url='https://www.naukri.com/'
driver.get(url)

In [5]:
#finding web element for search job using id

search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [6]:
# write on search bar
search_job.send_keys("Data Analyst")

In [7]:
# finding web element using for search location using xpath
search_locn= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [8]:
#entering location 'Bangalore'
search_locn.send_keys("Bangalore")

In [9]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [10]:
# clicking on search button to land on desire page 
search_btn.click()

In [11]:
#scraping data i) job title
#now create empty list to store the scrape data
title_tags=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis" ]')[:10]
len(title_tags)

10

In [12]:
job_title=[]
for i in title_tags:
    job_title.append(i.text)
job_title

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst']

In [18]:
#now lets scrape first 10 job location
locn_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[:10]
location=[]
for i in locn_tag:
    location.append(i.text)
location

['Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru']

In [19]:
#now scrape first 10 company name
company_tag=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft" ]')[:10]
company_name=[]
for i in company_tag:
    company_name.append(i.text)
company_name

['Artech infosystem',
 'Schneider Electric',
 'Deutsche Bank',
 'NUANCE INDIA PVT LTD',
 'Jio',
 'Accolite Software India Pvt Ltd',
 'Meesho',
 'Gojek',
 'Virtusa',
 'PayPal']

In [20]:
# Now scraping experience required
exp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')[:10]
exp_req=[]
for i in exp_tag:
    exp_req.append(i.text)
exp_req

['1-6 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '8-11 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '1-3 Yrs']

In [21]:
#checking the length of each column
len(job_title), len(location), len(company_name), len(exp_req)

(10, 10, 10, 10)

In [22]:
#Preparing DataFrame for first 10 data requirements including company name, job title, experince and location
jobs=pd.DataFrame()
jobs['Job Title']=job_title
jobs['Company Name']=company_name
jobs['Location']=location
jobs['Experience Required']= exp_req
jobs

,Job Title,Company Name,Location,Experience Required
0,Data Analyst - CRM Platform,Artech infosystem,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",1-6 Yrs
1,Software Technical Expert - Data Analyst,Schneider Electric,Bangalore/Bengaluru,3-6 Yrs
2,Reference Data Analyst,Deutsche Bank,Bangalore/Bengaluru,2-5 Yrs
3,Sales Data Analyst,NUANCE INDIA PVT LTD,Bangalore/Bengaluru,1-3 Yrs
4,Data Analyst,Jio,Bangalore/Bengaluru,8-11 Yrs
5,Big data analyst,Accolite Software India Pvt Ltd,Bangalore/Bengaluru,2-6 Yrs
6,Data Analyst/Senior Data Analyst,Meesho,Bangalore/Bengaluru,3-6 Yrs
7,Data Analyst - Marketplace,Gojek,Bangalore/Bengaluru,3-7 Yrs
8,Hiring Data Analysts - Virtusa,Virtusa,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",4-8 Yrs
9,Data Analyst 2,PayPal,Bangalore/Bengaluru,1-3 Yrs

In [23]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
#You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

url='https://www.naukri.com/'
driver.get(url)

In [24]:
#finding web element for search job using id

search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [25]:
# write on search bar
search_job.send_keys("Data Scientist")

In [26]:
# finding web element using for search location using xpath
search_locn= driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [27]:
#entering location 'Bangalore'
search_locn.send_keys("Bangalore")

In [28]:
#finding webelement for search button
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [29]:
#clicking on search button
search_btn.click()

In [30]:
#scraping first 10 data entry on the webpage
#1) job title
title_tag1=driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis" ]')[:10]
job_title1=[]
for i in title_tag1:
    job_title1.append(i.text)
job_title1

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - IN3',
 'Data Scientist - IN3',
 'Senior Data Science Engineer',
 'Senior Data Scientist',
 'Data Science - Engineering Manager']

In [31]:
#scraping location 

locn_tag1=driver.find_elements(By.XPATH,'//li[@ class="fleft grey-text br2 placeHolderLi location"]')[:10]
location1=[]
for i in locn_tag1:
    location1.append(i.text)
location1

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, Noida, Mumbai']

In [32]:
#scraping Company Name

cmpny_tag=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')[:10]
company_name1=[]
for i in cmpny_tag:
    company_name1.append(i.text)
company_name1

['Wipro',
 'Wipro',
 'EXL',
 'PayU',
 'IBM',
 'Walmart',
 'Walmart',
 'Fractal Analytics',
 'Baker Hughes',
 'Paytm']

In [33]:
#Checking length for columns of data frame
len(job_title1),len(location1), len(company_name1)

(10, 10, 10)

In [34]:
#Preparing DataFrame for Job Title, Location, and Company Name for first 10 data

job1=pd.DataFrame({'Job Title':job_title1, 'Company Name': company_name1, 'Location':location})
job1

,Job Title,Company Name,Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
1,Dataiku Consultant,Wipro,Bangalore/Bengaluru
2,Research and Development -AI/ML -(PhD ),EXL,Bangalore/Bengaluru
3,Opportunity For Data Scientist - Female Candid...,PayU,Bangalore/Bengaluru
4,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
5,Data Scientist - IN3,Walmart,Bangalore/Bengaluru
6,Data Scientist - IN3,Walmart,Bangalore/Bengaluru
7,Senior Data Science Engineer,Fractal Analytics,Bangalore/Bengaluru
8,Senior Data Scientist,Baker Hughes,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
9,Data Science - Engineering Manager,Paytm,Bangalore/Bengaluru

In [35]:
#Q3: In this question you have to scrape data using the filters available on the webpage:You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required. 
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

# Getting the web page naukri.com

url='https://www.naukri.com/'
driver.get(url)

In [36]:
#finding web element for search job using id

search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [37]:
# write on search bar
search_job.send_keys("Data Scientist")

In [38]:
# finding web element for search button
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [39]:
search_btn.click()

In [40]:
#clicking filter by selecting check boxes using absolute xpath

salary_check=driver.find_element(By.XPATH, "/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary_check

In [41]:
#click on slary check box range 3-6 lakhs

salary_check.click()

In [43]:
#clicking filter location using absolute Xpath

locn_check=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[3]/label/i")
locn_check

In [44]:
#click on location filter "Delhi location"
locn_check.click()

In [45]:
#Now lets scrape data, and create empty list to store the first 10 scrape data, starting with job title

title_tag3= driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis" ]')[:10]
job_title3=[]
for i in title_tag3:
    job_title3.append(i.text)
job_title3

['DigitalBCG GAMMA Data ScientistDigitalBCG GAMMA Data ScientistDigitalBCG GAMMA Data ScientistDigitalBCG GAMMA Data Scientist',
 'DigitalBCG GAMMA Data ScientistDigitalBCG GAMMA Data ScientistDigitalBCG GAMMA Data Scientist',
 'DigitalBCG GAMMA Data ScientistDigitalBCG GAMMA Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist - Machine learning AI',
 'Data Scientist',
 'Data Scientist - MIND Infotech',
 'Data Scientist']

In [46]:
#Now lets scrape the location of first 10 data
locn_tag3=driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')[:10]
location3=[]
for i in locn_tag3:
    location3.append(i.text)
location3

['New Delhi, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Pune, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru']

In [47]:
#Now let's scrape the company name of first 10 
cmpny_tag3=driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')[:10]
company_name3=[]
for i in cmpny_tag3:
    company_name3.append(i.text)
company_name3

['Boston Consulting Group',
 'Black Turtle India Pvt Ltd',
 'EXL',
 'Teq Analytics',
 'SS Supply Chain Solutions Pvt. Ltd. (3SC)',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Confidential',
 'Primo Hiring']

In [48]:
#Now let's scrape the experience of first 10 data
exp_tag3=driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')[:10]
exp_req3=[]
for i in exp_tag3:
    exp_req3.append(i.text)
exp_req3

['2-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '4-8 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '1-6 Yrs',
 '1-3 Yrs']

In [49]:
#checking the length of the list
len(job_title3), len(company_name3), len(exp_req3), len(location3)

(10, 10, 10, 10)

In [50]:
# Preparing The DataFrame with Job Title, Company, Experience, Job Location

job3=pd.DataFrame({'Job Title':job_title3, 'Company name ':company_name3, 'Experience Required': exp_req3, 'Location':location3})
job3

,Job Title,Company name,Experience Required,Location
0,DigitalBCG GAMMA Data ScientistDigitalBCG GAMM...,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
1,DigitalBCG GAMMA Data ScientistDigitalBCG GAMM...,Black Turtle India Pvt Ltd,4-7 Yrs,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr..."
2,DigitalBCG GAMMA Data ScientistDigitalBCG GAMM...,EXL,5-10 Yrs,"Noida, Bangalore/Bengaluru"
3,DigitalBCG GAMMA Data Scientist,Teq Analytics,3-8 Yrs,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ..."
4,Senior Associate - Data Science,SS Supply Chain Solutions Pvt. Ltd. (3SC),2-5 Yrs,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru"
5,Data Scientist - Noida/Bangalore,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
6,Data Scientist - Machine learning AI,Mount Talent Consulting Private Limited,2-4 Yrs,"Delhi / NCR, Pune, Bangalore/Bengaluru"
7,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Delhi / NCR, Pune, Bangalore/Bengaluru"
8,Data Scientist - MIND Infotech,Confidential,1-6 Yrs,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera..."
9,Data Scientist,Primo Hiring,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."

In [64]:
#Q4. Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#1. Brand 2. Product Description 3. Price

#Getting the web page.
url= 'https://www.flipkart.com'
driver.get(url)

In [65]:
#finding the web element for search product 

search_item=driver.find_element(By.CLASS_NAME,"_3704LK")
search_item

In [66]:
#writing in the search bar"sunglasses"

search_item.send_keys("sunglasses")

In [68]:
#finding web element for the search icon

search_icon=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_icon

In [69]:
# clicking on search icon
search_icon.click()

In [70]:
# Now lets create empty list to store the scrape data
#Starting with all the web element with brand name

brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [71]:
brand=[]
for i in brand_tag:
    brand.append(i.text)
brand

['Singco India',
 'Silver Kartz',
 'DAHAAZIL',
 'Fastrack',
 'New Specs',
 'PIRASO',
 'SRPM',
 'Silver Kartz',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'ROYAL SON',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'DEIXELS',
 'PIRASO',
 'CRYSTAL CART',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'New Specs',
 'Sewell',
 'AISLIN',
 'Mi',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'AISLIN']

In [72]:
# scraping all the web element for price

price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
price=[]
for i in price_tag:
    price.append(i.text)
price

['₹567',
 '₹313',
 '₹177',
 '₹639',
 '₹264',
 '₹224',
 '₹211',
 '₹288',
 '₹719',
 '₹359',
 '₹268',
 '₹664',
 '₹224',
 '₹185',
 '₹499',
 '₹399',
 '₹299',
 '₹1,039',
 '₹949',
 '₹474',
 '₹639',
 '₹306',
 '₹345',
 '₹236',
 '₹226',
 '₹189',
 '₹246',
 '₹759',
 '₹410',
 '₹719',
 '₹319',
 '₹664',
 '₹349',
 '₹299',
 '₹265',
 '₹425',
 '₹1,009',
 '₹265',
 '₹246',
 '₹475']

In [73]:
#Scraping all the web element with product description

prod_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" ]')
prod_descrp=[]
for i in prod_tag:
    prod_descrp.append(i.text)
prod_descrp

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (54)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Butterfly, Round Sunglasses (53...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Cat-eye, Round Sunglasses (62)']

In [74]:
#scraping all web element with discount
disc_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
discount=[]
for i in disc_tag:
    discount.append(i.text)
discount

['81% off',
 '79% off',
 '82% off',
 '20% off',
 '89% off',
 '85% off',
 '83% off',
 '80% off',
 '28% off',
 '86% off',
 '79% off',
 '66% off',
 '85% off',
 '89% off',
 '75% off',
 '80% off',
 '88% off',
 '20% off',
 '52% off',
 '68% off',
 '28% off',
 '88% off',
 '72% off',
 '80% off',
 '85% off',
 '68% off',
 '84% off',
 '62% off',
 '84% off',
 '20% off',
 '78% off',
 '66% off',
 '82% off',
 '81% off',
 '82% off',
 '72% off',
 '15% off',
 '79% off',
 '84% off',
 '72% off']

In [75]:
#finding web element for next button
nxt_btn=driver.find_element(By.XPATH, "/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")

In [76]:
#clicking on next button
nxt_btn.click()

In [77]:
#scraping next 40 brand name from the web elements
brand_tag2=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tag2:
    brand.append(i.text)
brand

['Singco India',
 'Silver Kartz',
 'DAHAAZIL',
 'Fastrack',
 'New Specs',
 'PIRASO',
 'SRPM',
 'Silver Kartz',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'ROYAL SON',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'DEIXELS',
 'PIRASO',
 'CRYSTAL CART',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'New Specs',
 'Sewell',
 'AISLIN',
 'Mi',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'AISLIN',
 'Lee Topper',
 'Fastrack',
 'SRPM',
 'Silver Kartz',
 'ROYAL SON',
 'Elligator',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'CRYSTAL CART',
 'kingsunglasses',
 'ROYAL SON',
 'kingsunglasses',
 'Singco India',
 'Fastrack',
 'ROYAL SON',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'New Specs',
 'ROYAL SON',
 'ROYAL SON',
 'Lee Topper',
 'VINCENT CHASE',
 'Singco India',
 'ROYAL SON',
 'Silver Kartz',
 'LIZA ANGEL',
 'AISLIN',
 'Fastrack',
 'Singco India',
 'Fastrack',
 'AISLIN']

In [78]:
#scraping the web element for next 40 price 
price_tag2=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in price_tag2:
    price.append(i.text)
price

['₹567',
 '₹313',
 '₹177',
 '₹639',
 '₹264',
 '₹224',
 '₹211',
 '₹288',
 '₹719',
 '₹359',
 '₹268',
 '₹664',
 '₹224',
 '₹185',
 '₹499',
 '₹399',
 '₹299',
 '₹1,039',
 '₹949',
 '₹474',
 '₹639',
 '₹306',
 '₹345',
 '₹236',
 '₹226',
 '₹189',
 '₹246',
 '₹759',
 '₹410',
 '₹719',
 '₹319',
 '₹664',
 '₹349',
 '₹299',
 '₹265',
 '₹425',
 '₹1,009',
 '₹265',
 '₹246',
 '₹475',
 '₹219',
 '₹719',
 '₹207',
 '₹313',
 '₹379',
 '₹207',
 '₹179',
 '₹799',
 '₹499',
 '₹369',
 '₹213',
 '₹664',
 '₹719',
 '₹214',
 '₹236',
 '₹399',
 '₹399',
 '₹529',
 '₹265',
 '₹474',
 '₹329',
 '₹629',
 '₹799',
 '₹759',
 '₹749',
 '₹1,099',
 '₹268',
 '₹664',
 '₹664',
 '₹255',
 '₹749',
 '₹220',
 '₹379',
 '₹288',
 '₹169',
 '₹425',
 '₹719',
 '₹567',
 '₹849',
 '₹475']

In [79]:
#scraping the web element for next 40 product description
prod_tag2=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" ]')
for i in prod_tag2:
    prod_descrp.append(i.text)
prod_descrp

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (54)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Butterfly, Round Sunglasses (53...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Cat-eye, Round Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Night Vision Spectacle ...',
 'UV Protection, Gradient Butterfly, Round Sunglasses (53...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye, Round Sunglasses (62)']

In [80]:
#scraping web elemnt of next 40 for discount attribute
disc_tag2=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in disc_tag2:
    discount.append(i.text)
discount

['81% off',
 '79% off',
 '82% off',
 '20% off',
 '89% off',
 '85% off',
 '83% off',
 '80% off',
 '28% off',
 '86% off',
 '79% off',
 '66% off',
 '85% off',
 '89% off',
 '75% off',
 '80% off',
 '88% off',
 '20% off',
 '52% off',
 '68% off',
 '28% off',
 '88% off',
 '72% off',
 '80% off',
 '85% off',
 '68% off',
 '84% off',
 '62% off',
 '84% off',
 '20% off',
 '78% off',
 '66% off',
 '82% off',
 '81% off',
 '82% off',
 '72% off',
 '15% off',
 '79% off',
 '84% off',
 '72% off',
 '78% off',
 '20% off',
 '79% off',
 '79% off',
 '74% off',
 '79% off',
 '82% off',
 '60% off',
 '77% off',
 '81% off',
 '82% off',
 '66% off',
 '20% off',
 '78% off',
 '80% off',
 '80% off',
 '80% off',
 '74% off',
 '84% off',
 '68% off',
 '79% off',
 '80% off',
 '20% off',
 '62% off',
 '70% off',
 '45% off',
 '79% off',
 '66% off',
 '66% off',
 '74% off',
 '62% off',
 '85% off',
 '74% off',
 '80% off',
 '66% off',
 '72% off',
 '20% off',
 '81% off',
 '15% off',
 '72% off']

In [81]:
#clicking on next button
nxt_btn.click()

In [82]:
#Scraping brand name of next 20 web element
brand_tag3=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')[:20]
for i in brand_tag3:
    brand.append(i.text)
brand

['Singco India',
 'Silver Kartz',
 'DAHAAZIL',
 'Fastrack',
 'New Specs',
 'PIRASO',
 'SRPM',
 'Silver Kartz',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'ROYAL SON',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'DEIXELS',
 'PIRASO',
 'CRYSTAL CART',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'New Specs',
 'Sewell',
 'AISLIN',
 'Mi',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'AISLIN',
 'Lee Topper',
 'Fastrack',
 'SRPM',
 'Silver Kartz',
 'ROYAL SON',
 'Elligator',
 'LIZA ANGEL',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'CRYSTAL CART',
 'kingsunglasses',
 'ROYAL SON',
 'kingsunglasses',
 'Singco India',
 'Fastrack',
 'ROYAL SON',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'New Specs',
 'ROYAL SON',
 'ROYAL SON',
 'Lee Topper',
 'VINCENT CHASE',
 'Singco India',
 'ROYAL SON',
 'Silver Kartz',
 'LIZA ANGEL',
 'AISLIN',
 'Fastrack',
 'Singco India',
 'Fastrack',
 'AISLIN',
 'ROYAL SON',
 'Silver Kartz',
 'LIZA ANGEL',
 'ROYAL SON',
 'Lee Topper',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'Singco India',
 'PIRASO',
 'DEIXELS',
 'Mi',
 'ROYAL SON',
 'New Specs',
 'NuVew',
 'Roadster',
 'SRPM',
 'AISLIN',
 'VINCENT CHASE']

In [84]:
#scraping the web element for next 20 price 
price_tag3=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')[:20]
for i in price_tag3:
    price.append(i.text)
price

['₹567',
 '₹313',
 '₹177',
 '₹639',
 '₹264',
 '₹224',
 '₹211',
 '₹288',
 '₹719',
 '₹359',
 '₹268',
 '₹664',
 '₹224',
 '₹185',
 '₹499',
 '₹399',
 '₹299',
 '₹1,039',
 '₹949',
 '₹474',
 '₹639',
 '₹306',
 '₹345',
 '₹236',
 '₹226',
 '₹189',
 '₹246',
 '₹759',
 '₹410',
 '₹719',
 '₹319',
 '₹664',
 '₹349',
 '₹299',
 '₹265',
 '₹425',
 '₹1,009',
 '₹265',
 '₹246',
 '₹475',
 '₹219',
 '₹719',
 '₹207',
 '₹313',
 '₹379',
 '₹207',
 '₹179',
 '₹799',
 '₹499',
 '₹369',
 '₹213',
 '₹664',
 '₹719',
 '₹214',
 '₹236',
 '₹399',
 '₹399',
 '₹529',
 '₹265',
 '₹474',
 '₹329',
 '₹629',
 '₹799',
 '₹759',
 '₹749',
 '₹1,099',
 '₹268',
 '₹664',
 '₹664',
 '₹255',
 '₹749',
 '₹220',
 '₹379',
 '₹288',
 '₹169',
 '₹425',
 '₹719',
 '₹567',
 '₹849',
 '₹475',
 '₹379',
 '₹288',
 '₹169',
 '₹664',
 '₹255',
 '₹719',
 '₹849',
 '₹399',
 '₹379',
 '₹567',
 '₹223',
 '₹236',
 '₹849',
 '₹699',
 '₹189',
 '₹385',
 '₹649',
 '₹233',
 '₹498',
 '₹749',
 '₹664',
 '₹1,169',
 '₹498',
 '₹759',
 '₹721',
 '₹664',
 '₹449',
 '₹664',
 '₹399',
 '₹329',
 '₹269',
 '₹425',
 '₹219',
 '₹809',
 '₹949',
 '₹314',
 '₹289',
 '₹199',
 '₹759',
 '₹649',
 '₹379',
 '₹288',
 '₹169',
 '₹664',
 '₹255',
 '₹719',
 '₹849',
 '₹399',
 '₹379',
 '₹567',
 '₹223',
 '₹236',
 '₹849',
 '₹699',
 '₹189',
 '₹385',
 '₹649',
 '₹233',
 '₹498',
 '₹749']

In [87]:
#scraping data for next 20 product description
prod_tag3=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')[:20]
for i in prod_tag3:
    prod_descrp.append(i.text)
prod_descrp

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (54)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Butterfly, Round Sunglasses (53...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Cat-eye, Round Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Clubmaster Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Night Vision Spectacle ...',
 'UV Protection, Gradient Butterfly, Round Sunglasses (53...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye, Round Sunglasses (62)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Night Vision Spectacle ...',
 'UV Protection, Polarized Round Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (58)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Oval Sunglasses (58)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...']

In [90]:
#scraping web elemnt of next 20 for discount attribute
disc_tag3=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')[:20]
for i in disc_tag3:
    discount.append(i.text)
discount

['81% off',
 '79% off',
 '82% off',
 '20% off',
 '89% off',
 '85% off',
 '83% off',
 '80% off',
 '28% off',
 '86% off',
 '79% off',
 '66% off',
 '85% off',
 '89% off',
 '75% off',
 '80% off',
 '88% off',
 '20% off',
 '52% off',
 '68% off',
 '28% off',
 '88% off',
 '72% off',
 '80% off',
 '85% off',
 '68% off',
 '84% off',
 '62% off',
 '84% off',
 '20% off',
 '78% off',
 '66% off',
 '82% off',
 '81% off',
 '82% off',
 '72% off',
 '15% off',
 '79% off',
 '84% off',
 '72% off',
 '78% off',
 '20% off',
 '79% off',
 '79% off',
 '74% off',
 '79% off',
 '82% off',
 '60% off',
 '77% off',
 '81% off',
 '82% off',
 '66% off',
 '20% off',
 '78% off',
 '80% off',
 '80% off',
 '80% off',
 '74% off',
 '84% off',
 '68% off',
 '79% off',
 '80% off',
 '20% off',
 '62% off',
 '70% off',
 '45% off',
 '79% off',
 '66% off',
 '66% off',
 '74% off',
 '62% off',
 '85% off',
 '74% off',
 '80% off',
 '66% off',
 '72% off',
 '20% off',
 '81% off',
 '15% off',
 '72% off',
 '74% off',
 '80% off',
 '66% off',
 '66% off',
 '74% off',
 '20% off',
 '15% off',
 '80% off',
 '74% off',
 '81% off',
 '86% off',
 '80% off',
 '15% off',
 '65% off',
 '88% off',
 '73% off',
 '35% off',
 '76% off',
 '67% off',
 '62% off']

In [91]:
#checking the length of each attribute
len(brand), len(price),len(prod_descrp), len(discount)

(100, 140, 100, 100)

In [92]:
price=price[:100]

In [93]:
len(price)

100

In [94]:
#Preparing data frame Of first 100 sunglasses listing in flipkart

item=pd.DataFrame({'BRAND NAME':brand, 'PRODUCT DESCRIPTION': prod_descrp, 'PRICE':price, 'DISCOUNT':discount})
item

,BRAND NAME,PRODUCT DESCRIPTION,PRICE,DISCOUNT
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹567,81% off
1,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹313,79% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
...,...,...,...,...
95,NuVew,UV Protection Cat-eye Sunglasses (60),₹385,73% off
96,Roadster,UV Protection Oval Sunglasses (58),₹649,35% off
97,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹233,76% off
98,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹498,67% off
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off

In [103]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. Data involve following attributes:1.Rating,  2.Review summary
#3. Full review

#Getting the web page.
url= 'https://www.flipkart.com'
driver.get(url)

In [105]:
#finding the web element for search product 

search_item=driver.find_element(By.CLASS_NAME,"_3704LK")
search_item

In [106]:
#writing in the search bar"iphone 11"
search_item.send_keys("iphone 11")

In [107]:
#finding web element for the search icon

search_icon=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_icon

In [108]:
search_icon.click()

In [8]:
# getting the required url

url1= 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'
driver.get(url1)

In [9]:
# From here lets open the review section to scrape the desired data. 
# finding the web element for scraping the rating

review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
len(review_tag)

10

In [11]:
review=[]
for i in review_tag:
    review.append(i.text)
review

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended']

In [15]:
full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
full_review=[]
for i in full_rev_tag:
    full_review.append(i.text)
full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !']

In [17]:
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
rating=[]
for i in rating_tag:
    rating.append(i.text)
rating

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [18]:
#finding the web element for next button'
nxt_btn1= driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
nxt_btn1

In [19]:
nxt_btn1.click()

In [25]:
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)
rating

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [26]:
review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review.append(i.text)
review

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Perfect product!',
 'Perfect product!',
 'Terrific',
 'Worth every penny',
 'Simply awesome',
 'Wonderful']

In [27]:
full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_rev_tag:
    full_review.append(i.text)
full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Really worth of money. i just love it. It is the best phone ever.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.']

In [30]:
nxt_btn1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')

In [32]:
nxt_btn1.click()

In [33]:
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)
rating

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [34]:
review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review.append(i.text)
review

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Worth every penny',
 'Good choice',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny',
 'Perfect product!',
 'Perfect product!',
 'Terrific',
 'Worth every penny',
 'Simply awesome',
 'Wonderful',
 'Classy product',
 'Worth every penny',
 'Good choice',
 'Nice product',
 'Perfect product!',
 'Classy product',
 'Brilliant',
 'Must buy!',
 'Classy product',
 'Must buy!']

In [35]:
full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_rev_tag:
    full_review.append(i.text)
full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Really worth of money. i just love it. It is the best phone ever.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.\n\nBought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!\n\nThe phone is great and does excellent RAM management like any other Apple device.\n\nThe screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re...\nREAD MORE',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE']

In [39]:
nxt_btn1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
nxt_btn1.click()

In [44]:
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)

In [41]:
review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review.append(i.text)

In [42]:
full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_rev_tag:
    full_review.append(i.text)

In [43]:
nxt_btn1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
nxt_btn1.click()

In [45]:
len(rating),len(review),len(full_review)

(49, 40, 40)

In [46]:
rating=rating[:40]

In [47]:
len(rating)

40

In [48]:
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)

In [49]:
review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review.append(i.text)

In [50]:
full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_rev_tag:
    full_review.append(i.text)

In [51]:
len(rating), len(review), len(full_review)

(49, 50, 50)

In [58]:
rating_neg_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')

len(rating_neg_tag)

1

In [59]:
for i in rating_neg_tag:
    rating.append(i.text)
len(rating)

50

In [60]:
#clicking on next page
nxt_btn1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
nxt_btn1.click()

In [61]:
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)

In [62]:
review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review.append(i.text)

full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_rev_tag:
    full_review.append(i.text)

In [63]:
len(rating), len(review), len(full_review)

(60, 60, 60)

In [64]:
#clicking on next button
nxt_btn1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
nxt_btn1.click()

In [65]:
#scraping data from the webpage including attributes: rating, summary review and full review

rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)

review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review.append(i.text)

full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_rev_tag:
    full_review.append(i.text)

In [66]:
#checking the length of the list made with scraped data
len(rating), len(review),len(full_review)

(70, 70, 70)

In [67]:
#clicking on next button
nxt_btn1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
nxt_btn1.click()

In [68]:
# scraping rating, review summary and full value from the webpage

rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)

review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review.append(i.text)

full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_rev_tag:
    full_review.append(i.text)

In [69]:
len(rating), len(review),len(full_review)

(79, 80, 80)

In [70]:
#scrape the lower rating present at the end of page
rating_neg_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_neg_tag:
    rating.append(i.text)
len(rating)

80

In [71]:
#clicking on next button
nxt_btn1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
nxt_btn1.click()

In [72]:
#scraping data of next page, since there is a lower rating, so we will distribute this into two groups and then continue.
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')[:3]
for i in rating_tag:
    rating.append(i.text)
len(rating)

83

In [73]:
#scraping lower rating
rating_neg_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in rating_neg_tag:
    rating.append(i.text)
len(rating)

84

In [75]:
#continue scraping with remaining rating.
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')[3:]
for i in rating_tag:
    rating.append(i.text)
len(rating)

95

In [76]:
rating=rating[:84]
len(rating)

84

In [77]:
rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')[3:]
for i in rating_tag:
    rating.append(i.text)
len(rating)

90

In [78]:
#scraping the data for full review and review summary
review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review.append(i.text)

full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_rev_tag:
    full_review.append(i.text)

In [79]:
len(full_review),len(review)

(90, 90)

In [80]:
#clicking on next button
nxt_btn1=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
nxt_btn1.click()

In [81]:
# scraping rating, review summary and full value from the webpage

rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag:
    rating.append(i.text)

review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tag:
    review.append(i.text)

full_rev_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_rev_tag:
    full_review.append(i.text)

In [82]:
len(rating), len(review), len(full_review)

(100, 100, 100)

In [83]:
# Let's Prepare data frame for the scrape data.

print("\n First 100 Reviews of iphone 11\n ")
df=pd.DataFrame({'Rating':rating, 'Review Summary': review, 'Full Review': full_review})
df

 First 100 Reviews of iphone 11

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Wonderful,Nice value for money good and best price I pho...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Best in the market!,Don’t expect much from front camera… especiall...
99,5,Fabulous!,I purchased the iPhone 11 a month back. I must...

In [84]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
# You have to scrape 4 attributes of each sneaker: 1. Brand  2. Product Description 3. Price

# Getting the web page.
url='https://www.flipkart.com'
driver.get(url)

In [85]:
#finding the web element for search product 

search_item=driver.find_element(By.CLASS_NAME,"_3704LK")
search_item

In [86]:
search_item.send_keys('sneakers')

In [87]:
search_icon= driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_icon

In [88]:
search_icon.click()

In [89]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_tag)

40

In [91]:
snek_brand=[]
for i in brand_tag:
    snek_brand.append(i.text)
len(snek_brand)

40

In [92]:
prod_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC" ]')
prod_des=[]
for i in prod_tag:
    prod_des.append(i.text)
prod_des

['White & Black Sneakers For Men Casual Shoes For Men lat...',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'White & Black Sneakers For Men Casual Shoes For Men Tre...',
 'Sneakers For Men',
 "W18 men's very comfortable casaul shoes Sneakers For Me..."]

In [104]:
prod_des=prod_des[:6]
len(prod_des)
prod_des

['White & Black Sneakers For Men Casual Shoes For Men lat...',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'White & Black Sneakers For Men Casual Shoes For Men Tre...',
 'Sneakers For Men',
 "W18 men's very comfortable casaul shoes Sneakers For Me..."]

In [105]:
prod_tag1=driver.find_elements(By.XPATH, '//a[@class="IRpwTa" ]')

for i in prod_tag1:
    prod_des.append(i.text)
len(prod_des)

40

In [106]:
price_tag6=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')

In [107]:
price=[]
for i in price_tag6:
    price.append(i.text)
price

['₹496',
 '₹1,784',
 '₹269',
 '₹399',
 '₹198',
 '₹299',
 '₹258',
 '₹494',
 '₹319',
 '₹378',
 '₹449',
 '₹399',
 '₹299',
 '₹1,659',
 '₹299',
 '₹496',
 '₹519',
 '₹1,557',
 '₹397',
 '₹499',
 '₹1,819',
 '₹299',
 '₹335',
 '₹195',
 '₹2,036',
 '₹479',
 '₹479',
 '₹450',
 '₹199',
 '₹299',
 '₹479',
 '₹539',
 '₹664',
 '₹207',
 '₹298',
 '₹699',
 '₹474',
 '₹649',
 '₹254',
 '₹398']

In [108]:
nxt_bttn=driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
nxt_bttn

In [109]:
nxt_bttn.click()

In [110]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_tag)

40

In [111]:
for i in brand_tag:
    snek_brand.append(i.text)
len(snek_brand)

80

In [112]:
prod_tag1=driver.find_elements(By.XPATH, '//a[@class="IRpwTa" ]')

for i in prod_tag1:
    prod_des.append(i.text)
len(prod_des)

72

In [113]:
prod_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC" ]')

for i in prod_tag:
    prod_des.append(i.text)
len(prod_des)

80

In [114]:
price_tag6=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in price_tag6:
    price.append(i.text)
len(price)

80

In [115]:
nxt_bttn.click()

In [116]:
brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')[:20]
for i in brand_tag:
    snek_brand.append(i.text)
len(snek_brand)

100

In [117]:
prod_tag1=driver.find_elements(By.XPATH, '//a[@class="IRpwTa" ]')[:20]

for i in prod_tag1:
    prod_des.append(i.text)
len(prod_des)

100

In [118]:
price_tag6=driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')[:20]
for i in price_tag6:
    price.append(i.text)
len(price)

100

In [119]:
#Preparing dataframe for first 100 result.
item_snek=pd.DataFrame({'Brand Name':snek_brand, 'Product Description':prod_des, 'Price':price})
print("First 100 list of sneakers from flipkart")
item_snek

First 100 list of sneakers from flipkart

,Brand Name,Product Description,Price
0,Scull Wings,White & Black Sneakers For Men Casual Shoes Fo...,₹496
1,HRX by Hrithik Roshan,Sneakers Sneakers For Men,"₹1,784"
2,BRUTON,Sneakers For Men,₹269
3,Magnolia,White & Black Sneakers For Men Casual Shoes Fo...,₹399
4,URBANBOX,Sneakers For Men,₹198
...,...,...,...
95,ZF - ALFIYA,Stylish Comfortable Men Casual Sneakers Shoes ...,₹399
96,BIRDE,Stylish & Trending Outdoor Walking Comfortable...,₹419
97,CLYMB,Stylish & Trending Outdoor Walking Comfortable...,₹249
98,PEXLO,Sneakers For Men,₹633
99,Glowlife,STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sne...,₹499

In [121]:
#Q7: Go to the link - https://www.myntra.com/shoes. Set second Price filter and Color filter to “Black”, a And then scrape First 100 shoes data you get. 
#The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

#Getting web page
#url= 'https://www.myntra.com/shoes'
#driver.get(url)
# Leaving for now

In [183]:
#Q8: Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.
#Then set CPU Type filter to “Intel Core i7”.After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
#1. Title  2. Rating   3. Price

#getting the web page
url= 'https://www.amazon.in/'
driver.get(url)

In [184]:
#finding web element search item bar
serch_item=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input' )

In [185]:
#writing 'laptop on search bar'
serch_item.send_keys('Laptop')

In [186]:
#finding web element for search icon
srch_icon=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')

In [187]:
#clicking on search icon
srch_icon.click()

In [188]:
#finding web element for check box of intel i7
chck_box=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div/label/i')

In [189]:
#clicking on check box.
chck_box.click()

In [29]:
#Scraping the page for web element of title
title_1=driver.find_elements(By.XPATH, '//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')[:10]
title=[]
for i in title_1:
    title.append(i.text)
title

['Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'Infinix INBook X1 Pro Core i7 10th Gen - (16 GB/512 GB SSD/Windows 11 Home) XL12 Thin and Light Laptop (14 Inch, Noble Red, 1.48 kg)',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'HP Envy 11th Gen Intel Evo Core i7 14 inch(35.6 cm) WUXGA Anti-Glare Display 2-in-1 Laptop(16GB RAM/1TB SSD/GTX 1650 4GB Graphics/400 nits/Win 11/MS Office/FPR/B&O/Alexa Built-in/1.59 Kg), 14-eb0021TX',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'LG Gram 16 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4, USC -C x 2 / 1.19 kg, Black/ 3Yr Warranty] 16Z90P',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10 Professional/Mineral Grey/1.26 Kg), 20V9A032IH',
 'Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-inch (35.56cm) FHD TN Antiglare Thin and Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/Microsoft Office H&S 2021/FPR/Black/1.59 kg), 20TAS1B400']

In [32]:
#scraping price of first 10
price_tag=driver.find_elements(By.XPATH, '//a[@class="a-size-base a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')[:10]

In [33]:
price_main=[]
for i in price_tag:
    price_main.append((i.text).split()[0])
price_main

['₹87,900',
 '₹86,990',
 '₹53,999',
 '₹82,990',
 '₹99,400',
 '₹57,890',
 '₹85,499',
 '₹89,990',
 '₹94,990',
 '₹99,990']

In [196]:
#scraping the rating from the web element

rate = driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')

Rate=[]



for i in rate[0:10]:

    Rate.append(i.text)

Rate

['26', '5', '49', '16', '143', '14', '7', '161', '9', '24']

In [200]:
#preparing the data frame for the requireed data fields
lap=pd.DataFrame({'Title': title, 'Price': price_main, 'People rate':Rate})
print("First 10 results appear in search\n")
lap

First 10 results appear in search

                                               Title    Price People rate
0  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...  ₹87,900          26
1  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  ₹86,990           5
2  Infinix INBook X1 Pro Core i7 10th Gen - (16 G...  ₹53,999          49
3  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...  ₹82,990          16
4  HP Envy 11th Gen Intel Evo Core i7 14 inch(35....  ₹99,400         143
5  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  ₹57,890          14
6  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...  ₹85,499           7
7  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  ₹89,990         161
8  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  ₹94,990           9
9  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...  ₹99,990          24

In [60]:
#Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.
#You have to scrape company name, No. of days ago when job was posted, Rating of the company. 

#getting the web page

url='https://www.ambitionbox.com/'
driver.get(url)

In [61]:
#Finding element for job button
job_tag=driver.find_element(By.XPATH,'/html/body/div[1]/nav/nav/a[6]')
job_tag

In [62]:
#clicking on job title
job_tag.click()

In [63]:
#finding web element for search bar appear on job page
search_job=driver.find_element(By.CLASS_NAME, "input.tt-input")
search_job

In [64]:
#writing "data scientist" in the search bar.
search_job.send_keys('Data Scientist')

In [65]:
#Finding web element for the search button
search_bttn=driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search_bttn

In [66]:
#clicking on search button
search_bttn.click()

In [67]:
#finding web element for the location
locn_bar=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')
locn_bar

In [68]:
][#clicking on location
locn_bar.click()

In [71]:
#find web elemnt for nodia in the location list
clck_locn=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[4]/div/label')
clck_locn

In [72]:
#clicking on noida check box
clck_locn.click()

In [73]:
#scraping for company name
cmpny_tag=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
len(cmpny_tag)

10

In [74]:
company=[]
for i in cmpny_tag:
    company.append(i.text)
company

['Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'Dew Solutions Pvt. Ltd.',
 'InfoEdge India Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'Latent bridge',
 'Careerera',
 'Careernet Consulting',
 'Acidaes Solutions Pvt. Ltd.']

In [75]:
#scraping number of days ago.
num_day_tag=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
len(num_day_tag)

20

In [77]:
num_day=[]
for i in num_day_tag:
    num_day.append(i.text)

day_ago=[]
for i in range(0,len(num_day),2):
    day_ago.append(num_day[i])
day_ago

['8d ago',
 '15d ago',
 '6d ago',
 '13d ago',
 '14d ago',
 '14d ago',
 '14d ago',
 '1d ago',
 '28d ago',
 '14d ago']

In [78]:
#scraping for rating.
comp_rate_tag=driver.find_elements(By.XPATH,'//div[@class="rating-wrapper"]')
len(comp_rate_tag)

14

In [84]:
comp_rate=[]
for i in comp_rate_tag[4:]:
    comp_rate.append((i.text).split()[0])
comp_rate

['4.1', '4.0', '4.3', '3.9', '3.9', '3.9', '4.5', '3.8', '3.9', '3.8']

In [85]:
#Preparing DataFrame for required data.

Job_new= pd.DataFrame({'Company Name':company, 'No. of days ago since job posted ': day_ago, 'Company rating':comp_rate })
print("First 10 Data Scientist job posted in ambitionbox.com \n")
Job_new

First 10 Data Scientist job posted in ambitionbox.com

,Company Name,No. of days ago since job posted,Company rating
0,Optum Global Solutions (India) Private Limited,8d ago,4.1
1,GENPACT India Private Limited,15d ago,4.0
2,Dew Solutions Pvt. Ltd.,6d ago,4.3
3,InfoEdge India Ltd.,13d ago,3.9
4,Info Edge India Limited,14d ago,3.9
5,Info Edge India Limited,14d ago,3.9
6,Latent bridge,14d ago,4.5
7,Careerera,1d ago,3.8
8,Careernet Consulting,28d ago,3.9
9,Acidaes Solutions Pvt. Ltd.,14d ago,3.8

In [152]:
#Q10: Write a python program to scrape the salary data for Data Scientist designation.
#You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

#getting the web page

url='https://www.ambitionbox.com/'
driver.get(url)

In [153]:
#find web element for salaries
salary_bttn=driver.find_element(By.XPATH,'/html/body/div[1]/nav/nav/a[4]')
salary_bttn

In [154]:
#clicking on salaries
salary_bttn.click()

In [155]:
#find web element for search job profile bar
profile_bar=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
profile_bar

In [156]:
#writing data scientist here in search bar
profile_bar.send_keys("Data Scientist")

In [157]:
#find web elemnt for search icon button
srch_btn=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]')
srch_btn

In [160]:
#scrape data for company name
cmpny_nm=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
len(cmpny_nm)

25

In [167]:
company_n=[]
for i in cmpny_nm[:10]:
    company_n.append((i.text).split('\n')[0])
company_n

['Walmart',
 'Ab Inbev',
 'ZS',
 'Optum',
 'Reliance Jio',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'EXL Service',
 'Deloitte']

In [171]:
experience=[]
for i in cmpny_nm[:10]:
    experience.append((i.text).split('\n')[2].split('(')[0])
experience

['3 yrs experience ',
 '3-4 yrs experience ',
 '2 yrs experience ',
 '3-4 yrs experience ',
 '3-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '2-4 yrs experience ',
 '3-4 yrs experience ',
 '2-4 yrs experience ']

In [172]:
total_rec=[]
for i in cmpny_nm[:10]:
    total_rec.append((i.text).split('\n')[2].split('(')[1])
total_rec

['based on 12 salaries)',
 'based on 33 salaries)',
 'based on 15 salaries)',
 'based on 32 salaries)',
 'based on 21 salaries)',
 'based on 89 salaries)',
 'based on 51 salaries)',
 'based on 57 salaries)',
 'based on 21 salaries)',
 'based on 69 salaries)']

In [174]:
#scraping minimum salary
min_salary=driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
len(min_salary)

10

In [177]:
min_sal=[]
for i in min_salary:
    min_sal.append((i.text).split('\n')[0])
min_sal

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 7.6L',
 '₹ 7.0L']

In [178]:
#scraping maximum salary
max_sal=[]
for i in min_salary:
    max_sal.append((i.text).split('\n')[1])
max_sal

['₹ 36.0L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 22.5L',
 '₹ 26.2L',
 '₹ 23.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L',
 '₹ 25.0L']

In [179]:
#scraping for average salary
avg_tag=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
len(avg_tag)

10

In [180]:
avg_sal=[]
for i in avg_tag:
    avg_sal.append(i.text)
avg_sal

['₹ 30.6L',
 '₹ 20.8L',
 '₹ 16.7L',
 '₹ 15.9L',
 '₹ 15.7L',
 '₹ 15.5L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.2L',
 '₹ 12.8L']

In [181]:
len(avg_sal),len(company_n),len(experience),len(total_rec),len(min_sal),len(max_sal)

(10, 10, 10, 10, 10, 10)

In [182]:
#Preparing Dataframe for the records

sal=pd.DataFrame({'Company Name':company_n, 'Experience Required': experience, 'Based on Records': total_rec, 'Minimum Salary':min_sal, 'Average Salary':avg_sal, 'Maximum Salary':max_sal})
print("First 10 Search Results\n")
sal

First 10 Search Results

,Company Name,Experience Required,Based on Records,Minimum Salary,Average Salary,Maximum Salary
0,Walmart,3 yrs experience,based on 12 salaries),₹ 25.0L,₹ 30.6L,₹ 36.0L
1,Ab Inbev,3-4 yrs experience,based on 33 salaries),₹ 15.0L,₹ 20.8L,₹ 26.2L
2,ZS,2 yrs experience,based on 15 salaries),₹ 11.0L,₹ 16.7L,₹ 22.0L
3,Optum,3-4 yrs experience,based on 32 salaries),₹ 11.0L,₹ 15.9L,₹ 22.5L
4,Reliance Jio,3-4 yrs experience,based on 21 salaries),₹ 5.6L,₹ 15.7L,₹ 26.2L
5,Fractal Analytics,2-4 yrs experience,based on 89 salaries),₹ 10.0L,₹ 15.5L,₹ 23.0L
6,Tiger Analytics,2-4 yrs experience,based on 51 salaries),₹ 9.0L,₹ 14.8L,₹ 20.0L
7,UnitedHealth,2-4 yrs experience,based on 57 salaries),₹ 8.3L,₹ 14.0L,₹ 21.1L
8,EXL Service,3-4 yrs experience,based on 21 salaries),₹ 7.6L,₹ 13.2L,₹ 21.0L
9,Deloitte,2-4 yrs experience,based on 69 salaries),₹ 7.0L,₹ 12.8L,₹ 25.0L