In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: certifi in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\dell\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [85]:
# importing necessary Library

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
import time

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
# getting web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [4]:
# getting the web page
url= "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [24]:
# finding web element for rank and scraping the data
Rank=[]
rank_tag=driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[1]' )
for i in rank_tag:
    Rank.append(i.text)
    
len(Rank)

30

In [23]:
# finding web element for name and scraping the details
name=[]
name_tag= driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[2]')
for i in name_tag:
    name.append((i.text).split('[')[0])
    
len(name)

30

In [22]:
# finding web element for artist is scraping the details from web page
artist=[]
artist_tag=driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[3]')
for i in artist_tag:
    artist.append(i.text)
len(artist)

30

In [26]:
# Finding the web element and scraping data for upload_date
upload_date=[]
upload_tag=driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[5]')
for i in upload_tag:
    upload_date.append(i.text)
len(upload_date)

30

In [28]:
# finding web element and scarpe the details for views
views=[]
view_tag=driver.find_elements(By.XPATH, '/html/body/div[3]/div[3]/div[5]/div[1]/table[2]/tbody/tr/td[4]')
for i in view_tag:
    views.append(i.text)
len(views)

30

In [30]:
# preparing DataFrame
youtube_views= pd.DataFrame({'Rank': Rank, 'Video Name': name, 'Artist': artist, 'Upload Date':upload_date,
                            'Views in Billion' : views})
print(" List of Top Views You Tube Videos. \n")
youtube_views

 List of Top Views You Tube Videos.

,Rank,Video Name,Artist,Upload Date,Views in Billion
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.05
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",7.93
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.40
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.77
4,5.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.59
5,6.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.54
6,7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",4.77
7,8.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.65
8,9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.60
9,10.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.50
10,11.,"""Gangnam Style""",Psy,"July 15, 2012",4.50
11,12.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.24
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.00
13,14.,"""Sugar""",Maroon 5,"January 14, 2015",3.74
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.63
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.62
16,17.,"""Sorry""",Justin Bieber,"October 22, 2015",3.57
17,18.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.48
18,19.,"""Axel F""",Crazy Frog,"June 16, 2009",3.45
19,20.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.32
20,21.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.32
21,22.,"""Faded""",Alan Walker,"December 3, 2015",3.32
22,23.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.31
23,24.,"""Let Her Go""",Passenger,"July 25, 2012",3.27
24,25.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.25
25,26.,"""Lean On""",Major Lazer,"March 22, 2015",3.24
26,27.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.22
27,28.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.21
28,29.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.19
29,30.,"""Mi Gente""",J Balvin,"June 29, 2017",3.11

In [31]:
driver.close()

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through cod

In [34]:
# getting web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [35]:
# getting the web page
url= "https://www.bcci.tv/"
driver.get(url)

In [39]:
#finding menu button and click on it
menu_tag=driver.find_element(By.XPATH,'/html/body/nav/div[1]/button')
menu_tag.click()

In [41]:
# finding international icon on bar and click on it
internation_icon= driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
internation_icon.click()

In [42]:
#finding fixtures and click on it
fixture_icon=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div/ul/li[1]/a')
fixture_icon.click()

In [48]:
# finding the web element and scrape the details for match title and place
match_title=[]
place=[]


m_place_tag=driver.find_elements(By.XPATH, '//div[@class="fix-place ng-binding ng-scope" ]')
for i in m_place_tag:
    match_title.append((i.text).split('-')[0])
    place.append((i.text).split('-')[1])
print(len(match_title),len(place))

6 6

In [50]:
# finding web element and scrape the date
date=[]

date_tag=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tag:
    date.append(i.text)
len(date)

6

In [51]:

time=[]

time_tag=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time_tag:
    time.append(i.text)
time

['3:30 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '12:45 PM IST',
 '12:45 PM IST',
 '12:45 PM IST']

In [ ]:
# finding web element and scape series details
series=[]
temp=[]
series_tag=driver.find_elements(By.XPATH,'//h5[@class="fix-text"]')
for i in series_tag:
    temp.append(i.text)
for i in range(1,len(temp),2):
    series.append(temp[i])
series

In [60]:
# scape title of the match
title=[]
title_tag=driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]')
for i in title_tag:
    title.append((i.text).replace('\n', ' '))
title

['England Women vs India Women',
 'West Indies vs India',
 'West Indies vs India',
 'Zimbabwe vs India',
 'Zimbabwe vs India',
 'Zimbabwe vs India']

In [63]:
#let's prepare Dataframe

bcci_tv= pd.DataFrame({'Series':series, 'Match Title': title, 'Matches':match_title, 
                       'Date': date, 'Time': time, 'Place': place})

print("\nUpcoming International Fixtures ")
bcci_tv

Upcoming International Fixtures

,Series,Match Title,Matches,Date,Time,Place
0,COMMONWEALTH GAMES WOMEN'S CRICKET 2022,England Women vs India Women,Semi Final,6 AUG 2022,3:30 PM IST,"Edgbaston, Birmingham"
1,INDIA TOUR OF WEST INDIES T20 SERIES 2022,West Indies vs India,4th T20I,6 AUG 2022,8:00 PM IST,Central Broward Regional Park Stadium Turf Gr...
2,INDIA TOUR OF WEST INDIES T20 SERIES 2022,West Indies vs India,5th T20I,7 AUG 2022,8:00 PM IST,Central Broward Regional Park Stadium Turf Gr...
3,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,Zimbabwe vs India,1st ODI,18 AUG 2022,12:45 PM IST,"Harare Sports Club, Harare"
4,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,Zimbabwe vs India,2nd ODI,20 AUG 2022,12:45 PM IST,"Harare Sports Club, Harare"
5,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,Zimbabwe vs India,3rd ODI,22 AUG 2022,12:45 PM IST,"Harare Sports Club, Harare"

In [64]:
driver.close()

Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [65]:
# getting web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [66]:
# getting the webpage
url=' https://www.guru99.com/'
driver.get(url)

In [67]:
#select selenium from testing and click on it
selenium_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
selenium_tag.click()

In [68]:
# find selenium exception handling tutor and click on it
sele_excep_handling_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
sele_excep_handling_tag.click()

In [72]:
# finding the web element and scraping all the required details
name=[]
name_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr/td[1]')
for i in name_tag:
    name.append(i.text)
len(name)

41

In [74]:
description=[]
descrptn_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody/tr/td[2]')
for i in descrptn_tag:
    description.append(i.text)
len(description)

41

In [75]:
# preparing data frame
exception= pd.DataFrame({'Name of Exception': name, 'Descrition': description})
print("List of all the exception in Selenium Exception Handling")
exception

List of all the exception in Selenium Exception Handling

,Name of Exception,Descrition
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [76]:
driver.close()

Q4. . Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [104]:
# getting web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [105]:
# getting the web page
url=' http://statisticstimes.com/'
driver.get(url)

In [106]:
#find economy drop button and click on it
economy_tag=driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy_tag.click()
time.sleep(7)
india_tag=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india_tag.click()

In [107]:
# find India GDP and click on it
india_gdp=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
india_gdp.click()

In [ ]:
# finding web elements and scrape the details of all the required field
rank=[]
rank_tag=driver.find_elements(By.XPATH, '//td[@class="data1"]')
for i in rank_tag[:33]:
    rank.append(i.text)
len(rank)

In [113]:
state=[]
state_tag=driver.find_elements(By.XPATH, '//td[@class="name"]')
for i in state_tag[:33]:
    state.append(i.text)
len(state)

33

In [111]:
gsdp18_19= []
gsdp_tag= driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in gsdp_tag[:33]:
    gsdp18_19.append(i.text)
len(gsdp18_19)

33

In [129]:

share=[]
share_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]')
for i in share_tag:
    share.append(i.text)
    
len(share)

33

In [123]:
gsdp19_20=[]
gsdp19_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]')
for i in gsdp19_tag:
    gsdp19_20.append(i.text)
len(gsdp19_20)

33

In [127]:
gdp_bill=[]
gdp_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]')
for i in gdp_tag:
    gdp_bill.append(i.text)
len(gdp_bill)

33

In [130]:
len(rank),len(state), len(gsdp18_19), len(gsdp19_20), len(share),len(gdp_bill)

(33, 33, 33, 33, 33, 33)

In [131]:
# preparing the data frame
GDP_states= pd.DataFrame({'Rank':rank, 'State':state, 'GSDP 18-19':gsdp18_19, 'GSDP 19-20':gsdp19_20,
                         'Share 2019':share, 'GDP ($ Billion)':gdp_bill})
print("Indian States by GDP\n")
GDP_states

Indian States by GDP

,Rank,State,GSDP 18-19,GSDP 19-20,Share 2019,GDP ($ Billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [132]:
driver.close()

Q5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [159]:
# getting web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [188]:
# getting the webpage
url = 'https://github.com/'
driver.get(url)

In [189]:
# find web element for menu_bar and click on it
menu_bar=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/button')
menu_bar.click()

In [193]:
# find explore button and click on it
explore_tag=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]')
explore_tag.click()

In [194]:
# finding web element for trending button and click on it
trending_tag=driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trending_tag.click()

In [196]:
# finding web elements for all the deatils need to scarpe and then scarpe them
title=[]
t_tag=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[3]/div/div[2]/article/h1/a')
for i in t_tag:
    title.append(i.text)
len(title)

25

In [224]:
title

['toeverything / AFFiNE',
 'utmapp / UTM',
 'NVIDIAGameWorks / kaolin-wisp',
 'microsoft / terminal',
 'jina-ai / discoart',
 'martinshkreli / models',
 'facebookresearch / ParlAI',
 'KalleHallden / exer_log',
 'juliocesarfort / public-pentesting-reports',
 'EbookFoundation / free-programming-books',
 'moyix / fauxpilot',
 'josejesusguzman / acordeon-az500-innoovaccion',
 'adiwajshing / Baileys',
 'qmk / qmk_firmware',
 'valinet / ExplorerPatcher',
 'PKUFlyingPig / cs-self-learning',
 'lucidrains / imagen-pytorch',
 'Womsxd / AutoMihoyoBBS',
 'getify / You-Dont-Know-JS',
 'coolsnowwolf / lede',
 'google-research / multinerf',
 'termux / termux-app',
 'godotengine / godot',
 'rust-lang / rust-analyzer',
 'ventoy / Ventoy']

In [182]:
descrption=[]
descrp_tag=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[3]/div/div[2]/article/p')
for i in descrp_tag:
    descrption.append(i.text)
len(descrption)

23

In [172]:
len(title), len(descrption)

(25, 23)

In [183]:
# finding which repository don't have description
index1=title.index('KalleHallden / exer_log')

index2=title.index('josejesusguzman / acordeon-az500-innoovaccion')
print(index1, index2)

7 11

In [184]:
# filling the void with 'N/A' in description.
descrption.insert(index1,'N/A')
descrption.insert(index2,'N/A')
len(descrption)

25

In [180]:
# langugae
language=[]
lang_tag= driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/span[1]')
for i in lang_tag:
    language.append(i.text)
len(language)

25

In [205]:
# contributors
url=[]
url_tag=driver.find_elements(By.XPATH, '/html/body/div[4]/main/div[3]/div/div[2]/article/h1/a')
for i in url_tag:
    url.append(i.get_attribute('href'))
len(url)

25

In [234]:
contributor=[]
for i in range(0,len(url)):
    driver.get(url[i])
    time.sleep(10)
    
    try: 
        conti_tag=driver.find_elements(By.XPATH,'//a[@class="Link--primary no-underline"]')
        for count in conti_tag:
            contributor.append(count.text)
    except None:
        contributor.append('N/A')
len(contributor)

115

In [235]:

contri= list(filter(lambda k: 'Contributors ' in k, contributor))
contri

['Contributors 13',
 'Contributors 40',
 'Contributors 4',
 'Contributors 336',
 'Contributors 5',
 'Contributors 182',
 'Contributors 4',
 'Contributors 33',
 'Contributors 1,988',
 'Contributors 2',
 'Contributors 86',
 'Contributors 1,747',
 'Contributors 6',
 'Contributors 43',
 'Contributors 11',
 'Contributors 16',
 'Contributors 177',
 'Contributors 301',
 'Contributors 2',
 'Contributors 61',
 'Contributors 1,728',
 'Contributors 585',
 'Contributors 74']

In [236]:
len(contri)

23

In [237]:
# finding index of missing values
index_1=title.index('josejesusguzman / acordeon-az500-innoovaccion')
index_2=title.index('martinshkreli / models')

In [238]:
# inserting N/A in the missing place in contri
contri.insert(index_1,'N/A')
contri.insert(index_2, 'N/A')
len(contri)

25

In [239]:
# Preparing data frame.

repository= pd.DataFrame({'Repository Title':title, 'Repository Description': descrption,
                         'Language':language,'Contributors': contri})
print(" Trending Repository in github\n")
repository

 Trending Repository in github

,Repository Title,Repository Description,Language,Contributors
0,toeverything / AFFiNE,There can be more than Notion and Miro. Affine...,TypeScript,Contributors 13
1,utmapp / UTM,Virtual machines for iOS and macOS,Swift,Contributors 40
2,NVIDIAGameWorks / kaolin-wisp,NVIDIA Kaolin Wisp is a PyTorch library powere...,Python,Contributors 4
3,microsoft / terminal,The new Windows Terminal and the original Wind...,C++,Contributors 336
4,jina-ai / discoart,Create Disco Diffusion artworks in one line,Python,Contributors 5
5,martinshkreli / models,stock market models - have fun,Built by,N/A
6,facebookresearch / ParlAI,A framework for training and evaluating AI mod...,Python,Contributors 182
7,KalleHallden / exer_log,N/A,Dart,Contributors 4
8,juliocesarfort / public-pentesting-reports,Curated list of public penetration test report...,CSS,Contributors 33
9,EbookFoundation / free-programming-books,📚 Freely available programming books,Built by,"Contributors 1,988"
10,moyix / fauxpilot,FauxPilot - an open-source GitHub Copilot server,Python,Contributors 2
11,josejesusguzman / acordeon-az500-innoovaccion,N/A,Built by,Contributors 86
12,adiwajshing / Baileys,Lightweight full-featured WhatsApp Web + Multi...,JavaScript,N/A
13,qmk / qmk_firmware,Open-source keyboard firmware for Atmel AVR an...,C,"Contributors 1,747"
14,valinet / ExplorerPatcher,This project aims to enhance the working envir...,C,Contributors 6
15,PKUFlyingPig / cs-self-learning,计算机自学指南,HTML,Contributors 43
16,lucidrains / imagen-pytorch,"Implementation of Imagen, Google's Text-to-Ima...",Python,Contributors 11
17,Womsxd / AutoMihoyoBBS,米游社自动签到，支持：崩坏二、崩坏三、原神、未定事件簿，米游币自动获取,Python,Contributors 16
18,getify / You-Dont-Know-JS,A book series on JavaScript. @YDKJS on twitter.,Built by,Contributors 177
19,coolsnowwolf / lede,Lean's OpenWrt source,C,Contributors 301
20,google-research / multinerf,"A Code Release for Mip-NeRF 360, Ref-NeRF, and...",Python,Contributors 2
21,termux / termux-app,Termux - a terminal emulator application for A...,Java,Contributors 61
22,godotengine / godot,Godot Engine – Multi-platform 2D and 3D game e...,C++,"Contributors 1,728"
23,rust-lang / rust-analyzer,A Rust compiler front-end for IDEs,Rust,Contributors 585
24,ventoy / Ventoy,A new bootable USB solution.,C,Contributors 74

In [240]:
driver.close()

Q6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [241]:
# getting the web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [249]:
# getting web page
url='https:/www.billboard.com/'
driver.get(url)

In [250]:
# find web elemnet for menu bar and click on it
menu_bar=driver.find_element(By.XPATH, '/html/body/div[3]/header/div[1]/div/div/div[1]/button')
menu_bar.click()

In [251]:
# find web element for chart and click on it
chart_tab=driver.find_element(By.XPATH, '/html/body/div[3]/div[6]/div/div/div/ul/li[1]/h3/button')
chart_tab.click()

In [252]:
#find web element for Hot 100 and click on it
hot_100_tag=driver.find_element(By.XPATH,'/html/body/div[3]/div[6]/div/div/div/ul/li[1]/ul/li[2]/a')
hot_100_tag.click()

In [257]:
#web element for song title
xyz_tag=driver.find_elements(By.ID, "title-of-a-story")
xyz=[]
for i in xyz_tag:
    xyz.append(i.text)
len(xyz)

419

In [268]:
# scraping meaningful data, here songs from scarpe data
song = list(filter (lambda k: k!= '', xyz))
song=song[:100]

In [270]:
len(song)

100

In [274]:
# scrape web elemnt for artist and scrape the details
artist=[]
art_tag= driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
for i in art_tag:
    artist.append(i.text)
len(artist)

100

In [276]:
# find web elements of all the required field and scrape them.
last_rank=[]
last_tag=driver.find_elements(By.XPATH, '/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[3]')
for i in last_tag:
    last_rank.append(i.text)
len(last_rank)

100

In [278]:
peak_rank=[]
peak_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[4]/span')
for i in peak_tag:
    peak_rank.append(i.text)
len(peak_rank)

100

In [280]:
weeks_on=[]
w_board_tag=driver.find_elements(By.XPATH, '/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[7]/ul/li[5]/span')
for i in w_board_tag:
    weeks_on.append(i.text)
len(weeks_on)

100

In [282]:
# preparing dataframe
hot_100= pd.DataFrame({'Song Title':song, 'Artist':artist, 'Last week Rank':last_rank, 'Peak Rank':peak_rank,
                     'Weeks On Board':weeks_on})
print("Hot 100 in BillBoard\n")
hot_100

Hot 100 in BillBoard

,Song Title,Artist,Last week Rank,Peak Rank,Weeks On Board
0,About Damn Time,Lizzo,1,1,15
1,As It Was,Harry Styles,2,1,17
2,Running Up That Hill (A Deal With God),Kate Bush,3,3,29
3,First Class,Jack Harlow,4,1,16
4,Wait For U,Future Featuring Drake & Tems,5,1,13
...,...,...,...,...,...
95,Te Felicito,Shakira & Rauw Alejandro,95,67,8
96,Are You Entertained,Russ & Ed Sheeran,-,97,1
97,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,-,98,1
98,Right On,Lil Baby,97,13,15
99,La Corriente,Bad Bunny & Tony Dize,99,32,9

In [283]:
driver.close()

Q7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [284]:
# getting the web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [285]:
# getting the web page
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

In [286]:
# clicking on search bar and writing DataScience in it
srch_bar=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
srch_bar.send_keys("Data Science")

In [287]:
# find web elemnt for search button and click on it
srch_button=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
srch_button.click()

In [292]:
# finding web element for all the required field and scrape the details from it
name=[]
name_tag=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]/span[1]')
for i in name_tag:
    name.append(i.text)
len(name)

50

In [299]:
designation=[]
desig_tag=driver.find_elements(By.XPATH, '//span[@class="ellipsis clr"]')
for i in desig_tag:
    designation.append(i.text)    
len(designation)

50

In [312]:
company=[]
compny_tag=driver.find_elements(By.XPATH, '//a[2][@class="ellipsis"]')
for i in compny_tag:
    company.append(i.get_attribute('title'))
len(company)

50

In [314]:
skills=[]
skill_tag=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skill_tag:
    skills.append(i.text)
len(skills)

50

In [316]:
location=[]
loc_tag=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in loc_tag:
    location.append(i.text)
len(location)

48

In [317]:
# name whoes location index are not there
index_1=name.index("Sunil Vedula")
index_2=name.index("Amir Chowdhury")

In [318]:
# filling gap with N/A
location.insert(index_1,'N/A')
location.insert(index_2,'N/A')

In [319]:
len(location)

50

In [320]:
# preparing dataframe
recruiter=pd.DataFrame({'Name':name, 'Designation':designation, 'Company':company,
                       'Skills they are Hiring':skills, 'Location':location})
print("List of DataScience Recruiters\n")
recruiter

List of DataScience Recruiters

,Name,Designation,Company,Skills they are Hiring,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",N/A
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting Co...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",N/A
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

In [321]:
driver.close()

Q8. Scrape the details of Highest selling novels.
URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [322]:
# getting the web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [323]:
# getting the web page
url= 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [327]:
# finding the web element of all the required details and scrape them.
book=[]
book_tag=driver.find_elements(By.XPATH, '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
for i in book_tag:
    book.append(i.text)
len(book)

100

In [329]:
author=[]
author_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
for i in author_tag:
    author.append(i.text)
len(author)

100

In [330]:
volume=[]
sold_tag=driver.find_elements(By.XPATH, '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
for i in sold_tag:
    volume.append(i.text)
len(volume)

100

In [331]:
publisher=[]
publish_tag=driver.find_elements(By.XPATH, '/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
for i in publish_tag:
    publisher.append(i.text)
len(publisher)

100

In [332]:
genre=[]
genre_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')
for i in genre_tag:
    genre.append(i.text)
len(genre)

100

In [335]:
len(book), len(author), len(volume),len(publisher), len(genre)

(100, 100, 100, 100, 100)

In [336]:
# preparing Dataframe
Novels=pd.DataFrame({'Book Title':book, 'Author':author, 'Volume Sales':volume,
                    'Publisher':publisher, 'Genre':genre})
print("List of Highest Selling Novel's\n")
Novels

List of Highest Selling Novel's

,Book Title,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [337]:
driver.close()

Q9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [338]:
# getting the web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [339]:
# getting the web page
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [343]:
# finding the web element for all the required details and scrape them.
tv_name=[]
year_span=[]
tv_tag=driver.find_elements(By.XPATH, '//h3[@class="lister-item-header"]')
for i in tv_tag:
    tv_name.append((i.text).split('(')[0])
    year_span.append((i.text).split('(')[1])

len(tv_name),len(year_span)

(100, 100)

In [348]:
genr=[]
gen_tag=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
for i in gen_tag:
    genr.append(i.text)
len(genr)

100

In [350]:
run_time=[]
run_tag=driver.find_elements(By.XPATH, '//p[@class="text-muted text-small"]/span[3]')
for i in run_tag:
    run_time.append(i.text)
len(run_time)

100

In [353]:
rating=[]
rate_tag=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
for i in rate_tag:
    rating.append(i.text)
len(rating)

100

In [365]:
votes=[]
temp=[]
vote_tag=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[2]')
for i in vote_tag:
    temp.append(i.text)
for i in range(1,len(temp),2):
    votes.append(temp[i])
len(votes)

100

In [367]:
# preparing dataframe
Tv_Series=pd.DataFrame({'Series Name':tv_name, 'Year Span':year_span, 'Genre':genr,
                       'Run Time': run_time, 'Rating':rating, 'Votes': votes})
print("Top 100 most watched TV Series\n")
Tv_Series

Top 100 most watched TV Series

,Series Name,Year Span,Genre,Run Time,Rating,Votes
0,1. Game of Thrones,2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,020,411"
1,2. Stranger Things,2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,116,109"
2,3. The Walking Dead,2010–2022),"Drama, Horror, Thriller",44 min,8.2,"959,375"
3,4. 13 Reasons Why,2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"286,822"
4,5. The 100,2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"246,409"
...,...,...,...,...,...,...
95,96. Reign,2013–2017),Drama,42 min,7.4,"49,259"
96,97. A Series of Unfortunate Events,2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,132"
97,98. Criminal Minds,2005–2020),"Crime, Drama, Mystery",42 min,8.1,"193,349"
98,99. Scream: The TV Series,2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,798"
99,100. The Haunting of Hill House,2018),"Drama, Horror, Mystery",572 min,8.6,"233,182"

In [368]:
driver.close()

Q10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [369]:
# getting the web driver
driver=webdriver.Chrome(r'D:\chromedriver_win32\chromedriver.exe')

In [370]:
# getting the web page
url ='https://archive.ics.uci.edu/'
driver.get(url)

In [371]:
# finding web element and clicking on view all tab.
view_all_tag=driver.find_element(By.XPATH, '/html/body/table[2]/tbody/tr/td/span/b/a')
view_all_tag.click()

In [376]:
# finding web element for all the required details and scrape them
dataset=[]
ds_name_tag=driver.find_elements(By.XPATH,'//p[@class="normal"]/b')
for i in ds_name_tag:
    dataset.append(i.text)
len(dataset)

622

In [379]:
data_type=[]
type_tag=driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p')
for i in type_tag[1:]:
    data_type.append(i.text)
len(data_type)

622

In [381]:
task=[]
task_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p')
for i in task_tag[1:]:
    task.append(i.text)
len(task)

622

In [383]:
attribute_type=[]
attri_tag=driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p')
for i in attri_tag[1:]:
    attribute_type.append(i.text)
len(attribute_type)

622

In [384]:
instance=[]
instance_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p')
for i in instance_tag[1:]:
    instance.append(i.text)
len(instance)

622

In [385]:
num_attribute=[]
num_attri_tag=driver.find_elements(By.XPATH, '/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p')
for i in num_attri_tag[1:]:
    num_attribute.append(i.text)
len(num_attribute)

622

In [386]:
Year=[]
y_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p')
for i in y_tag[1:]:
    Year.append(i.text)
len(Year)

622

In [388]:
# preparing dataframe
Datasets= pd.DataFrame({'Dataset Name':dataset,'Data Type': data_type, 'Task': task, 
                       'Attribute Type':attribute_type, 'Instances':instance, 
                        'Number Of Attribute': num_attribute, 'Year':Year})
print("List of all the Dataset Present in the site.")
Datasets

List of all the Dataset Present in the site.

,Dataset Name,Data Type,Task,Attribute Type,Instances,Number Of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [389]:
driver.close()